label.error{
    color: red;
}

.errors{
    color: red;
}

#calendar{
    width: 1100px; 
    margin: 40px auto;
    color: black !important;
}

.fc .fc-button-primary:hover{
    background-color: #1e2b37;
}


.book-now-rounded
{
  	border-radius: 1rem !important;
  	background-color: #EFC10A !important;
  	width: 175px;
    border-bottom: 0 !important;
    border: 0 !important;
    text-shadow: none !important;
    color: black !important;

    &:hover{
        background-color: #d39e00 !important;
        border-color: #c69500 !important;
        background-image: none !important;
    }

    &:active,:focus{
        box-shadow: none !important;
    }
}

.upcoming-events{
    background-color: #EFC10A !important;
    color:  black !important;
    // padding: 14px 25px;
    height: 34px;
    width: 200px;
    line-height: 2 !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:  1rem;

    &:hover{
        background-color: #d39e00 !important;
        border-color: #c69500 ;
    }
    
    
}
.form-view{
    background-color: #EFC10A !important;
    color:  black !important;
    // padding: 14px 25px;
    height: 34px;
    width: 200px;
    line-height: 2 !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius:  1rem;

    &:hover{
        background-color: #d39e00 !important;
        border-color: #c69500 ;
    }
}

a:not(.btn), a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
    color: black;
    text-decoration: none;
}

input[type="submit"], input[type="button"], button, .button{
    background-image: none;
    box-shadow: none !important;

    &:hover{
        background-image: none;
    }
}
textarea:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
}

button:hover:not(:disabled){
    background-image: none;
}

.already-registered{
    text-align: center;
    color: red;
    display: none;
}

.student-registered{
    text-align: center;
    color: green;
    display: none;
}

#registration-form{
    margin-top: 50px;
}

.seat-fulled{
    color: red;
    text-align: center;
    display: none;
}

textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"]{
    font: inherit;
}


// popper and tooltip css
.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #FFC107;
  color: black;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
}
.style5 .tooltip {
  background: #1E252B;
  color: #FFFFFF;
  max-width: 200px;
  width: auto;
  font-size: .8rem;
  padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #FFC107;
}
.style5 .tooltip .tooltip-arrow {
  border-color: #1E252B;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}